{% extends 'base.html' %}
{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
<div class="header">
    <a href="/">Todo list</a>
</div>
<div class="container", style="max-width: none">

{#    <div class="row align-items-center justify-content-center h-100">#}
    <div class="row justify-content-center">
        <div class="col-12 d-flex flex-wrap all-tasks col-xxl-8 justify-content-center align-items-start">
            <div class="all-tasks">
                <h1 class="task-list-title">My lists</h1>
                <script>
                    function change(list) {
                        document.getElementById('hidd').value = list
                    }
                </script>
                <ul class="task-list" id="pills-tab" role="tablist">
                     {% for list in lists %}
                        <li id="selectedList" onclick="change('{{ list.name }}')">
                            <a href="/{{list.id}}">{{ list.name }}</a>
                        </li>
                     {% endfor %}
                </ul>

                <form action="/" method="POST">
                    <input
                        name="list"
                        id="list"
                        type="text"
                        class="new list"
                        placeholder="new list name"
                        aria-label="new list name"
                    />
                    <button type="submit"
                            name="submit_list"
                            class="btn create"
                            aria-label="create new list">+</button>
                </form>
            </div>

            <div class="todo-list ">
                <div class="todo-header">
                    <h2 class="todo-list-title">{{ type_of_task }}</h2>
                    <p class="task-count">Task remaining: {{ task_remaining|length }}</p>
                </div>
                <div class="list-delete">
                    {% if id %}
                        <form action="{{ url_for('delete_list', id=id) }}" method="get">
                            <button class="btn" type="submit" onclick="return confirm('Are you sure you want to delete this list?');">Delete list</button>
                        </form>
                    {% endif %}
                </div>
                <div class="todo-body">
                    <div class="tasks">

                        {% for task in taski %}
                            <div class="task">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    value="{{ task.id }}"
                                    id="task-{{ task.id }}"
                                />
                                <label for="task-{{ task.id }}" onclick="changeDisplay({{ task.id }})">
                                    <span class="custom-checkbox"></span>
                                    <div style="margin-left: 1.2em">{{ task.content }}</div>
                                    <input type="hidden" name="task_remaining" value="{{ task_remaining|length }}">
                                </label>
                            </div>

                        {% endfor %}

                    </div>

                    <div class="new-task-creator d-flex justify-content-between">
                        <form action="/{{ id }}" method="POST">
                            <input
                                name="content"
                                id="content"
                                type="text"
                                class="new task"
                                placeholder="enter new task"
                                aria-label="enter new task"
                            />
                            <input
                                type="hidden"
                                id="hidd"
                                name="nazwa"
                                value=""
                            />

                            <button type="submit"
                                    name="submit_task"
                                    class="btn create"
                                    aria-label="create new task">+</button>
                        </form>
                        <div class="trash" id="trash" style="display: none; margin-top: 10px;">
                            {% if id %}
                                <form action="{{ url_for('delete', id=id) }}" method="POST">
                                    <button type="submit" class="btn btn-secondary" style="color: var(--clr-warning); transform: scale(1.5)">
                                        <i onclick="deleteCheckedTask()" class="fas fa-trash-alt" title="Delete checked tasks" aria-label="Delete checked tasks"></i>
                                    </button>
                                    <input
                                        type="hidden"
                                        name="delete"
                                        id="delete"
                                        value="xddd"/>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="todo-footer">
                    {% if id %}
                        <form action="{{ url_for('clear', id=id) }}" method="get">
                            <button class="btn" type="submit" onclick="return confirm('Are you sure you want to clear this list?');">Clear list <i class="fas fa-broom"></i></button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}